<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinoinnovo.plantbox"
    android:versionCode="1"
    android:versionName="0.1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <permission
        android:name="com.sinoinnovo.plantbox.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.meten.ifuture.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 获取logcat日志 -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="32b0a58f70c1b3883aff0ae94319c19a" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.StudentMianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.teacher.TeacherMianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.ModifUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.MyTeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.MyChooseSchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.DatumWritActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.teacher.MyStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.MyComplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.ChooseComplainObjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.student.ComplainDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.manager.ManagerMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.manager.PraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.manager.ComplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.manager.TeacherComplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.teacher.StudentInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StudentinfoTheme" />
        <activity
            android:name=".activity.manager.PraiseDetailsActivity"
            android:screenOrientation="portrait" />

        <!-- sharesdk start -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104439718" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- sharesdk end -->


        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.meten.ifuture" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.meten.ifuture" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".push.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.meten.ifuture" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e7bbe40ed037dd604bb3722f" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <activity
            android:name=".activity.SystemFeedbackActivity"
            android:label="@string/title_activity_system_feedback"
            android:parentActivityName=".activity.base.BaseHeadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sinoinnovo.plantbox.activity.base.BaseHeadActivity" />
        </activity>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.PlantShopActivity"
            android:label="@string/title_activity_plant_shop" />
        <activity
            android:name=".activity.PlantCenterActivity"
            android:label="@string/title_activity_plant_center" />
        <activity
            android:name=".activity.GrowTreeActivity"
            android:label="@string/title_activity_grow_tree" />
        <activity
            android:name=".activity.ActiveActivity"
            android:label="@string/title_activity_active" />
        <activity
            android:name=".activity.MyGrowupActivity"
            android:label="@string/title_activity_my_growup" />
        <activity
            android:name=".activity.MyBaseAreaActivity"
            android:label="@string/title_activity_my_base_area" />
        <activity
            android:name=".activity.ShopDetailActivity"
            android:label="@string/title_activity_shop_detail" />
        <activity
            android:name=".activity.PlantBaikeActivity"
            android:label="@string/title_activity_plant_baike" />
        <activity
            android:name=".activity.BannerDetailActivity"
            android:label="@string/title_activity_banner_detail" />
        <activity
            android:name=".activity.PublishActivity"
            android:label="@string/title_activity_publish" />
        <activity
            android:name=".activity.MyShareActivity"
            android:label="@string/title_activity_my_share" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:label="@string/title_activity_product_details" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:label="@string/title_activity_add_goods" />
        <activity
            android:name=".activity.OrderActivity"
            android:label="@string/title_activity_order" />
        <activity
            android:name=".activity.AddNewAddressActivity"
            android:label="@string/title_activity_add_new_address" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activity.ResetPwdActivity"
            android:label="@string/title_activity_reset_pwd" />
        <activity
            android:name=".activity.MyCollectActivity"
            android:label="@string/title_activity_my_collect" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:label="@string/title_activity_my_order" />
        <activity
            android:name=".activity.DimensionCodeActivity"
            android:label="@string/title_activity_dimension_code" />
        <activity android:name=".activity.MipcaCaptureActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/title_activity_guide" />
        <activity
            android:name=".activity.AddFriendActivity"
            android:label="@string/title_activity_add_friend" />
        <activity
            android:name=".activity.MyLikeActivity"
            android:label="@string/title_activity_my_like" />
        <activity android:name=".activity.CityListActivity" />
        <activity
            android:name=".activity.AquareActivity"
            android:label="@string/title_activity_aquare" />
        <activity
            android:name=".activity.CommentActivity"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".activity.VersionInformationActivity"
            android:label="@string/title_activity_version_information" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".activity.PrivacyActivity"
            android:label="@string/title_activity_privacy" />
        <activity
            android:name=".activity.NoticeActivity"
            android:label="@string/title_activity_notice" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" />
        <activity
            android:name=".activity.ArticleActivity"
            android:label="@string/title_activity_article" />
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.MonitoringActivity"
            android:label="@string/title_activity_monitoring" />
        <activity
            android:name=".activity.ReferToUserTutorialActivity"
            android:label="@string/title_activity_refer_to_user_tutorial" />
        <activity
            android:name=".activity.PublishTutorialActivity"
            android:label="@string/title_activity_publish_tutorial" />
        <activity
            android:name=".activity.PublishTutorialListsActivity"
            android:label="@string/title_activity_publish_tutorial_lists" />
        <activity
            android:name=".activity.MyQrCodeActivity"
            android:label="@string/title_activity_my_qr_code" />
        <activity android:name=".activity.SelectPhotoActivity" />
        <activity android:name=".widget.ProcessActivity" />
        <activity
            android:name=".activity.UserTutorialDetailsActivity"
            android:label="@string/title_activity_user_tutorial_details" />
        <activity
            android:name=".activity.MyCourseDetailsActivity"
            android:label="@string/title_activity_my_course_details" />
        <activity
            android:name=".activity.MyAchieveActivity"
            android:label="@string/title_activity_my_achieve"></activity>
    </application>

</manifest>